.new-rio-footer {
    text-align: right;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.new-rio-button {
    width: auto;
    float: right;
    margin: 2px;
}

button {
    width: auto !important;
}
.ui-dialog-content.ui-widget-content {
    overflow: hidden !important;
}

p-calendar {
    border: none;
}

.radioBtn {
    margin-right: 10px;
}
