<div class="ui-fluid">
  <form [formGroup]="formNewRioModel" (ngSubmit)="submitHandler()">
    <div class="ui-g-12">
      <div class="ui-g-1 font-weight-bold">
        <label for="receiptNo">Receipt No :</label>
      </div>
      <div class="ui-g-2" style="margin-left:0">
        <input type="text" [(ngModel)]="receiptNo" id="receiptNo" name="receiptNo" pInputText placeholder="Receipt No"
          formControlName="receiptNo" readonly="readonly" />
      </div>
      <div class="ui-g-5">
        
      </div>
      <div class="ui-g-1 font-weight-bold">
        <label for="pDate">Purchase Date :</label>
      </div>
      <div class="ui-g-2">
        <p-calendar [(ngModel)]="pDate" id="pDate" name="pDate" [(ngModel)]="pDate" pInputText
          placeholder="Purchase Date" formControlName="pDate">
        </p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-1 font-weight-bold">
        <label for="CustName"> Supplier Name :</label>
      </div>
      <div class="ui-g-3">
        <p-dropdown [options]="SupplierNameOptions" (onChange)="supplierChange()" [(ngModel)]="selectedSupplierName"
          formControlName="selectedSupplierName" name="selectedSupplierName" optionLabel="label" dataKey="key" [filter]="true" filterBy="label"
          placeholder="Select Supplier" [ngClass]="{
            'is-invalid':
              f['selectedSupplierName'].invalid && (f['selectedSupplierName'].dirty || f['selectedSupplierName'].touched)
          }"></p-dropdown>
        <div *ngIf="
            f['selectedSupplierName'].invalid && (f['selectedSupplierName'].dirty || f['selectedSupplierName'].touched)
          " class="invalid-feedback">
          <div *ngIf="f['selectedSupplierName'].errors.required">
            Supplier Name is required
          </div>
        </div>
      </div>
      <div class="ui-g-1">
        <button pButton type="button" icon="fas fa-plus-circle" iconPos="right"
          class="ui-button-rounded ui-button-success edit-role-button" style="height: 26px;margin-top: 4px;"
          (click)="NewSupplier()"></button>
      </div>
      <div class="ui-g-1 font-weight-bold">
        <label for="supMobile"> Mobile No. :</label>
      </div>
      <div class="ui-g-2">
        <input type="text" onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" [(ngModel)]="supMobile" id="supMobile" name="supMobile" pInputText placeholder="Supplier Mobile"
          formControlName="supMobile" readonly="readonly" [ngClass]="{
            'is-invalid':
              f['supMobile'].invalid && (f['supMobile'].dirty || f['supMobile'].touched)
          }" />
        <div *ngIf="
            f['supMobile'].invalid && (f['supMobile'].dirty || f['supMobile'].touched)
          " class="invalid-feedback">
          <div *ngIf="f['supMobile'].errors.required">
            Mobile is required
          </div>
        </div>
      </div>
      <div class="ui-g-1 font-weight-bold">
        <label for="supplierCode">Supplier Code :</label>
      </div>
      <div class="ui-g-2" style="margin-left:0">
        <input type="text" [(ngModel)]="supplierCode" id="supplierCode" name="supplierCode" pInputText placeholder="Supplier Code"
          formControlName="supplierCode" readonly="readonly" />
      </div>
    </div>
    <div class="ui-g-12" style="border: 1px solid gray;">
      <form [formGroup]="formProduct">
        <div class="ui-g-12">

          <div class="ui-g-1 font-weight-bold">
            <label for="ProdName"> Product :</label>
          </div>
          <div class="ui-g-4">
            <p-dropdown [options]="ProdNameOptions" [(ngModel)]="selectedProdName" formControlName="selectedProdName"
              name="selectedProdName" optionLabel="label" dataKey="key" [filter]="true" filterBy="label" placeholder="Select Product"></p-dropdown>
          </div>
          <div class="ui-g-1">
            <button pButton type="button" icon="fas fa-plus-circle" iconPos="right"
              class="ui-button-rounded ui-button-success edit-role-button" style="height: 26px;margin-top: 4px;"
              (click)="NewProduct()"></button>

          </div>
          <div class="ui-g-1 font-weight-bold">
            <label for="Product"> Quantity :</label>
          </div>
          <div class="ui-g-2">
            <input type="number" [(ngModel)]="prodQty" id="prodQty" name="prodQty" pInputText placeholder="Quantity"
              formControlName="prodQty" />
          </div>

          <div class="ui-g-1">
            <button pButton type="button" *ngIf="!isProductUpdate" icon="fas fa-pencil-alt" label="ADD" iconPos="right"
              [disabled]="!formProduct.valid" class="ui-button-rounded ui-button-success edit-role-button"
              style="margin-bottom: 1%;width: 80px;" (click)="NewProductAdd()"></button>

            <button pButton type="button" *ngIf="isProductUpdate" icon="fas fa-pencil-alt" label="Update"
              iconPos="right" [disabled]="!formProduct.valid"
              class="ui-button-rounded ui-button-success edit-role-button" style="margin-bottom: 1%;width: 100px;"
              (click)="UpdateProductAdd()"></button>
          </div>
          <div class="ui-g-1">
            <button pButton type="button" *ngIf="isProductUpdate" label="CANCEL" icon="far fa-times-circle"

              iconPos="right" class="ui-button-rounded ml-2 ui-button-warning"
              style="margin-bottom: 1%;width: 80px;" (click)="CancelProductAdd()"></button>
          </div>

        </div>
      </form>
      <div class="fr-payment-table vast-table" style="display: inline-block; width: 100%;">
        <p-treeTable #ttFlat [value]="flatTableData" [columns]="flatTableJson['selectedColumns']" [paginator]="false"
          [rows]="flatTableJson['page_size']" [first]="flatTableJson['page']"
          [totalRecords]="flatTableJson['totalRecords']" [rowsPerPageOptions]="[10, 20, 50, 100]"
          [lazy]="flatTableJson['lazy']" [loading]="flatTableJson['loading']" [sortMode]="flatTableJson['sortMode']"
          [resizableColumns]="flatTableJson['resizableColumns']" [columnResizeMode]="flatTableJson['columnResizeMode']"
          [reorderableColumns]="flatTableJson['reorderableColumns']" [frozenColumns]="flatTableJson['frozenCols']"
          [frozenWidth]="flatTableJson['frozenWidth']" [scrollable]="flatTableJson['scrollable']"
          [scrollHeight]="flatTableJson['scrollHeight']" [selectionMode]="flatTableJson['selectionMode']"
          [(selection)]="flatTableJson['selectedColsModal']" [dataKey]="flatTableJson['selectionDataKey']"
          [metaKeySelection]="flatTableJson['metaKeySelection']" [style]="{ width: '100%' }">
          <!-- ------------------------------- Header -------------------------------- -->

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [ttSortableColumn]="col.field" ttResizableColumn
                ttReorderableColumn [ttSortableColumnDisabled]="!col['options']['colSort']"
                [ttResizableColumnDisabled]="!col['options']['resizable']"
                [ttReorderableColumnDisabled]="!col['options']['movable']">
                {{ col.displayName }}

                <!-- <p-treeTableSortIcon [field]="col.field" *ngIf="col['options']['colSort']"></p-treeTableSortIcon> -->
              </th>
            </tr>
            <tr *ngIf="flatTableJson['columnSearch']">
              <ng-container *ngFor="let col of columns">
                <th *ngIf="isHiddenColumn(col)">
                  <input ymInput pInputText type="text" [style.visibility]="
                      col['options']['colSearch'] ? 'visible' : 'hidden'
                    " (input)="
                      tt.filter($event.target.value, col.field, col.filterMatchMode)
                    " />
                </th>
              </ng-container>
            </tr>
          </ng-template>


          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [ngStyle]="{ width: col['width'] + 'px' }" />
            </colgroup>
          </ng-template>

          <!-- -------------------------------- Body --------------------------------- -->

          <ng-template pTemplate="body" let-rowNode let-index let-rowData="rowData" let-columns="columns">
            <tr>
              <td *ngFor="let col of columns; let i = index" ttEditableColumn [title]="
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                ">

                <span *ngIf="col.field != 'Delete' &&
                col.field != 'Update'">
                  {{ rowData[col.field] | formatNum: col.format:col.formatConfig }}
                </span>

                <span *ngIf="col.field == 'Delete'" class="btn-link" (click)="deletePurchaseDetails(rowData)">
                  <i class="far fa-trash-alt fa-1-5x-custom" title="Delete"></i>
                </span>

                <span *ngIf="col.field == 'Update'" class="btn-link" (click)="editPurchaseDetails(rowData)">
                  <i class="fas fa-pencil-alt fa-1-5x-custom" title="Update/View"></i>
                </span>
              </td>
            </tr>
          </ng-template>
          <!-- ----------------------------- Frozen Body ----------------------------- -->

          <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr style="background: #f4f4f4">
              <td *ngFor="let col of columns; let i = index" [title]="
                  rowData[col.field] | formatNum: col.format:col.formatConfig
                ">

                <span>
                  {{
                    rowData[col.field]
                      ? (rowData[col.field]
                        | formatNum: col.format:col.formatConfig)
                      : ''
                  }}
                </span>
              </td>
            </tr>
          </ng-template>

          <!-- ------------------- Message to show for empty Data -------------------- -->

          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="flatTableJson['columns'].length">
                No data found.
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
      </div>

    </div>

    <div class="ui-g-12">
     <div class="ui-g-2 font-weight-bold">
        <label for="totalAmt"> Total Amount :</label>
      </div>
      <div class="ui-g-2">
        <input type="number" [(ngModel)]="totalAmt" id="totalAmt" name="totalAmt" pInputText placeholder="Total Amount"
          formControlName="totalAmt" readonly="readonly" />
      </div>
      <div class="ui-g-1 font-weight-bold">
        
      </div>
      <div class="ui-g-2 font-weight-bold">
        <label for="paymentMode"> Payment Mode :</label>
      </div>
      <div class="ui-g-2">
        <p-radioButton class="radioBtn" name="paymentMode" formControlName="paymentMode" value="Cash" label="Cash"
          [(ngModel)]="paymentMode" inputId="preopt1">
        </p-radioButton>
        <p-radioButton class="radioBtn" name="paymentMode" formControlName="paymentMode" value="Online" label="Online"
          [(ngModel)]="paymentMode" inputId="preopt2">
        </p-radioButton>
      </div>
    </div>
    <div class="new-rio-footer">
      <button pButton type="submit" label="Save" icon="fas fa-user-edit" class="ui-button-success"
        [disabled]="!formNewRioModel.valid"></button>

      <button pButton type="button" (click)="goBack()" label="Cancel" icon="far fa-times-circle"
        class="ml-2 ui-button-warning"></button>
    </div>


  </form>
</div>
<p-confirmDialog appendTo="body" [style]="{ width: '50vw' }"></p-confirmDialog>