<div class="login-page row ">

  <div class="login-card col-sm-12">
    <p-card class="center ui-card-main" styleClass="ui-card-shadow">
      <img src="assets/images/login-icon1.png" alt="Cake Art" style="width: 250px;"  /><br>
      <label class="wel-come">Welcomes You</label>
    </p-card>
  </div>
  <div class="login-card col-sm-6">
    <p-card (click)="adminLogin()" header="Admin Login" class="center ui-card-panel" styleClass="ui-card-shadow">
    </p-card>
    <label >Welcomes Back,Login To Access The Cake Art Admin Panel</label>
  </div>
  <div class="login-card col-sm-6">
    <p-card header="User Login" class="center ui-card-panel" styleClass="ui-card-shadow">
    </p-card>
    <label>New User? <a>Sign Up Here</a></label>
  </div>
  <div p-col-12 style="width: 150px; height: 70px; margin-top: -70px; margin-left: 50px;">
    <a href="#" target="_blank">
      <img src="assets/images/cp-logo.png" alt="CP-Tech" height="25px"
        style="margin-top: 30px; font-family: Source Sans Pro; font-size: 30px;" />
    </a>
  </div>
</div>