.p-grid {
  margin: 0;
}

.filters-div {
  margin-right: 10px;
}

.filters-div span {
  margin-bottom: 5px;
  font-weight: bold;
}

.fas {
  padding-left: 5px;
  font-size: 15px;
  color: #ff4c4c;
  cursor: pointer;
  opacity: 0.5;
}

.fas:hover {
  opacity: 1;
}

.add-more {
  opacity: 0.6;
}

.add-more:hover {
  opacity: 1;
}
