<div class="forgot-password">
  <div *ngIf="token; then setPassword; else sendEmail">here is ignored</div>
  <ng-template #sendEmail>
    <form [formGroup]="userform" (ngSubmit)="onForgot(userform.value)">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <span>
            Enter your email address below and we'll send you password reset
            instructions
          </span>
        </div>
        <div class="ui-g-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="ui-inputtext" pInputText [(ngModel)]="email" formControlName="email"
                    placeholder="Email *" />
                </div>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                <p-message severity="error" text="Email is required" *ngIf="
                    (userform.get('email').hasError('required') &&
                      userform.controls['email'].dirty) ||
                    (userform.controls['email'].touched && userform.get('email').hasError('required'))
                  "></p-message>
                <p-message severity="error" text="Email is not valid" *ngIf="
                    (userform.get('email').hasError('pattern') &&
                      userform.controls['email'].dirty) ||
                    (userform.controls['email'].touched && userform.get('email').hasError('pattern'))
                  "></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">
                <button type="submit" pButton label="Send" icon="fas fa-paper-plane" style="margin-right: .25em"
                  [disabled]="!userform.valid" class="ui-button-success"></button>
              </div>
              <div class="ui-grid-col-6">
                <button type="button" pButton label="Back to Login" icon="fas fa-sign-in-alt"
                  style="margin-right: .25em" (click)="ref.close(null)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #setPassword>
    <p class="mt-4 text-white text-left">
      Set new password.
    </p>
    <form [formGroup]="userform" (ngSubmit)="onSetNewPassword(userform.value)" style="width: 500px">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                New Password *
              </div>
              <div class="ui-grid-col-8">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fas fa-key"></i></span>
                  <input pPassword [showPassword]="showPassword['new']" type="password" formControlName="newpassword"
                    placeholder="New Password" [(ngModel)]="model.newPassword"
                    (blur)="validateField(userform.controls.confirmpassword,userform.controls.newpassword)" />
                  <span class="ui-inputgroup-addon">
                    <i [ngClass]="
                        showPassword['new'] ? 'far fa-eye' : 'far fa-eye-slash'
                      " (click)="togglePassword('new')"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4"></div>
              <div class="ui-grid-col-8">
                <p-message severity="error" text="New Password is required" *ngIf="
                    !userform.controls['newpassword'].valid &&
                    userform.controls['newpassword'].dirty
                  "></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                Confirm Password *
              </div>
              <div class="ui-grid-col-8">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fas fa-key"></i></span>
                  <input pPassword [showPassword]="showPassword['confirm']" type="password"
                    formControlName="confirmpassword" placeholder="Confirm Password" [(ngModel)]="model.confirmPassword"
                    (blur)="validateField(userform.controls.confirmpassword,userform.controls.newpassword)" />
                  <span class="ui-inputgroup-addon">
                    <i [ngClass]="
                        showPassword['confirm']
                          ? 'far fa-eye'
                          : 'far fa-eye-slash'
                      " (click)="togglePassword('confirm')"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4"></div>
              <div class="ui-grid-col-8" *ngIf="!userform.controls['confirmpassword'].valid && 
            (userform.controls['confirmpassword'].dirty) &&
            userform.controls['confirmpassword'].errors.required">

                <p-message severity="error" text="Confirm Password is required"></p-message>
              </div>
              <div class="ui-grid-col-8" *ngIf=" !userform.controls['confirmpassword'].valid && 
           userform.controls['confirmpassword']?.errors.missMatch">
                <p-message severity="error" text="Password doesn't match"></p-message>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">
                <button class="save" pButton type="submit" title="Click here to save changes" icon="fas fa-save"
                  [disabled]="!userform.valid" label="Save"></button>
              </div>
              <div class="ui-grid-col-6">
                <button (click)="ref.close(null)" pButton icon="far fa-times-circle" label="Cancel"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</div>